<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eVeni</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
    <header>
        <nav class="navbar ">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Home">eVeni</a>
                <partial name="_LoginPartial" />

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Fashion
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a asp-controller="Fashion" asp-action="Women">Women</a>
                        <a asp-controller="Fashion" asp-action="Men">Men</a>
                        <a asp-controller="Fashion" asp-action="Kid">Kids</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Online eShop - <a asp-area="Home" asp-controller="Home" asp-action="Home">eVeni</a>
        </div>
    </footer>

</body>
</html>