@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create</a>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Log Out</a>
    <a asp-controller="Manager" asp-action="AllProducts" class="btn btn-primary">Products</a>
    <h1>Your Products</h1>


}
