@model Web.Models.Order.OrderDetailInputModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <form id="orderForm">

        <div class="form-group">
            <label asp-for=Name class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comment" class="control-label"></label>
            <input asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">
            Submit
        </button>
    </form>
    <p>Click on this paragraph.</p>


</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("form").submit(function (event) {
                var data = $("#orderForm").serialize();
                alert(data);
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "/api/Order/post",
                    dataType: 'json',
                    data: data,
                    success: function (response) {
                        if (response != null) {
                            alert("success");
                        } else {
                            alert("Something went wrong " );
                        }
                    }
                });
            });
        });
    </script>
}