@using Web.ViewModels.Orders
@{

    var orders = (List<UserOrderViewModel>)ViewData["Orders"];
}

<div>

    @foreach (var user in orders)
    {
        <table>
            <tr>
                <th> Name: </th>
            </tr>
            <tr>
                <td> @user.items.Product.Brand</td>
            </tr>
            <tr>
                <th>
                    Order Placed:
                </th>
            </tr>
            <tr>
                <td>  @user.items.TimePlaced </td>
            </tr>
        </table>
    }
</div>
