@using Web.ViewModels.Orders
@{

    var orders = (List<UserOrderViewModel>)ViewData["Orders"];
}

<div>
    
    @foreach (var item in orders)
    {
        
        
        @foreach (var asd in item.items)
        {
            <table>
                <tr>
                    <th> Name: </th>
                </tr>
                <tr>
                
                    <td> @asd.Product.Brand</td>
                </tr>
            </table>
    <p>@asd.Product.Id</p>
        }

    }
</div>
