@using Web.ViewModels.Orders
@{

    var orders = (List<UserOrderViewModel>)ViewData["Orders"];
}

<div>
    
    @foreach (var item in orders)
    {
        @foreach (var asd in item.items)
        {
    <p>@asd.Product.Brand</p>
        }

    }
</div>
